In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('../build/packet.csv')
df.head()

,#ts_s,ts_us,dir,flow_type,ip_proto,ip_src,tp_src,ip_dst,tp_dst,media_type,pkts_in_frame,ssrc,pt,rtp_seq,rtp_ts,pl_len,rtp_ext1,drop
0,1706055844,380329,u,s,17,172.22.243.228,60715,206.247.33.54,8801,v,1,16779265,98,51788,4266084018,735,0x500000,0
1,1706055844,383269,u,s,17,206.247.33.54,8801,172.22.243.228,60715,v,2,16780289,98,56303,4069920784,768,0x5ff777,0
2,1706055844,383307,u,s,17,206.247.33.54,8801,172.22.243.228,60715,v,2,16780289,98,56304,4069920784,768,0x5ff777,0
3,1706055844,423272,u,s,17,206.247.33.54,8801,172.22.243.228,60715,v,6,16780289,98,56305,4069924384,1078,0x500000,0
4,1706055844,424270,u,s,17,206.247.33.54,8801,172.22.243.228,60715,v,6,16780289,98,56306,4069924384,1078,0x500000,0

In [23]:
count=0
groups=0
latencies=[]
for name,group in df.groupby('rtp_seq'):
    groups+=1
    if len(group) > 1:
        count+=1
        latencies.append(abs(group.iloc[1]['ts_us']-group.iloc[0]['ts_us'])+abs(group.iloc[1]['#ts_s']-group.iloc[0]['#ts_s'])*1000000)

print(count,groups)

3588 4227

In [24]:
import numpy as np
np.mean(latencies)/1000

197.25604041248607